body{
	margin: 0;
	padding: 0;

}
.top{
	width: 100%;
	height: 100px;
    background-color:#505050;
    position: fixed;
    top: 0;
}
.left{
	float: left;
}
.right{
	float: right;
	margin-right:35px;
	margin-top: 15px;
}
.top{
	font-size: 40px;
	text-align: center;
	line-height: 100px;
	color: #fff;
	padding-left: 15px;
}
.bottom{
	width: 100%;
	height: 100px;
	background-color:#c4c7c9;
	position: fixed;
	bottom: 0; 
}
.icon,.icon1,.icon2,.icon3{
    height: 100px;
    width: 25%;
    margin-top: 23px;
    float: left;
    text-align: center;
}
.icon>img:hover{
	background-image: url(../imges/对话框1.png);
}
.icon1>img:hover{
	background-image: url(../imges/通讯录.png);
}
.icon2>img:hover{
	background-image: url(../imges/发现1.png);
}
.icon3>img:hover{
	background-image: url(../imges/我2.png);
}
